<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Hospital Humanitas</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- Bootstrap Core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="css/agency.css">
	<!-- CSS Personalizado -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/servicios.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]> https://www.mozilla.org/en-US/firefox/58.0a2/whatsnew/
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
	<![endif]-->

</head>

<body id="page-top" class="index">
	<div class="telefono">
		<span>Línea directa</span>
		<i class="fa fa-phone fa-1x" aria-hidden="true"></i>
		<span>246 117 52 71</span>
		<a href="https://www.facebook.com/hospitalhumanitasdetlaxcala/" style="margin-top: 10px; display:block; color: white; text-decoration:none" target="_blank">
			<i class="fa fa-facebook fa-1x" aria-hidden="true" style="vertical-align: middle;"></i>
			<span style="margin-left: 5px">Facebook</span>
		</a>
	</div>
	<!-- Navigation -->
	<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
				</button>

				<a class="navbar-brand page-scroll" href="#page-top">
					<img src="./img/logoHumanitas.png" alt="" class="logoHeader">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<!--cl-effect-1
			cl-effect-3
			cl-effect-7
			cl-effect-8-->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="page-scroll" href="#page-top">Home</a>
					</li>
					<li>
						<a class="page-scroll " href="#services">Conócenos</a>
					</li>
					<li>
						<a class="page-scroll" href="#serviciosPortfolio">Servicios</a>
					</li>
					<li>
						<a class="page-scroll" href="#especialistas">Especialistas</a>
					</li>
					<li>
						<a class="page-scroll" href="#instalaciones">Instalaciones</a>
					</li>
					<li>
						<a class="page-scroll" href="#nosotros">Nosotros</a>
					</li>
					<li>
						<a class="page-scroll" href="#contact">Contácto</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!-- Header
	<header>
	<div class="container">
	<div class="intro-text">
	<div class="intro-heading">En nuestra área de urgencias tenemos la mejor atención para cualquier emergencia</div>
	<a href="#services" class="page-scroll btn btn-xl">CONOCENOS</a>
</div>
</div>
</header>-->

<div id="carouselHeader" class="carousel slide" data-ride="carousel">
	<div class="intro-text">
		<div></div>
	</div>

	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carouselHeader" style="width: 20px; height: 20px" data-slide-to="0" class="active"></li>
		<li data-target="#carouselHeader" style="width: 20px; height: 20px" data-slide-to="1"></li>
		<li data-target="#carouselHeader" style="width: 20px; height: 20px" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="img/home-01.jpg" alt="Los Angeles" style="width:100%; max-height: 99vh;">
		</div>

		<div class="item">
			<img src="img/home-02-01.jpg" alt="Chicago" style="width:100%; max-height: 99vh;">
		</div>

		<div class="item">
			<img src="img/home-03-01.jpg" alt="New york" style="width:100%; max-height: 99vh;">
		</div>
	</div>

	<!-- Left and right controls
	<a class="left carousel-control" href="#carouselHeader" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
	<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carouselHeader" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
<span class="sr-only">Next</span>
</a>-->
</div>

<!-- Services Section -->
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Conócenos</h2>
				<h3 class="section-subheading text-muted">
					Desde nuestra inauguración en el año 2007, en el hospital Humanitas de Tlaxcala nos hemos preocupado
					por brindar a la sociedad tlaxcalteca un servicio de atención médica excelente y completo, a través de una
					infraestructura tecnológica de primer nivel.
				</h3>
				<h3 class="section-subheading text-muted" style="margin-top: -50px">
					Nuestra prioridad como equipo hospitalario es satisfacer las necesidades de salud con calidad,
					brindando un servicio excelente apoyados de la tecnología más moderna y de distintas especialidades médicas.
				</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-3">
				<span class="fa-stack fa-5x iconoConocenos">
					<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fa fa-folder-open fa-stack-1x text-primary"></i>
				</span>
				<h4 class="service-heading"><a class="page-scroll" href="#serviciosPortfolio" style="color: #1e497e; text-decoration:none">Servicios</a></h4>

			</div>
			<div class="col-md-3">
				<span class="fa-stack fa-5x iconoConocenos">
					<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fa fa-user-md fa-stack-1x text-primary"></i>
				</span>
				<h4 class="service-heading"><a class="page-scroll" href="#especialistas" style="color: #1e497e; text-decoration:none">Especialistas</a></h4>
			</div>
			<div class="col-md-3">
				<span class="fa-stack fa-5x iconoConocenos">
					<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fa fa-hospital-o fa-stack-1x text-primary"></i>
				</span>
				<h4 class="service-heading"><a class="page-scroll" href="#instalaciones" style="color: #1e497e; text-decoration:none">Instalaciones</a></h4>
			</div>
			<div class="col-md-3">
				<span class="fa-stack fa-5x iconoConocenos">
					<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fa fa-group fa-stack-1x text-primary"></i>
				</span>
				<h4 class="service-heading"><a class="page-scroll" href="#nosotros" style="color: #1e497e; text-decoration:none">Nosotros</a></h4>
			</div>
		</div>
	</div>
</section>
<article id="serviciosPortfolio" class="separador" data-parallax="scroll" data-image-src="img/separadores/servicios.jpg">
	<h2>Servicios</h2>
</article>
<!-- Portfolio Grid Section -->
<section class="bg-light-gray">
	<div class="container" id="infoServiciosMedicos" style="width: 100%;">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Servicios Médicos</h2>
				<p class="titleSeccion titleActiveUno" data-rel="allServiciosMedicosUno">Todo</p>
				<p class="titleSeccion titleActiveUno" data-rel="medicinaGeneralUno">Medicina general</p>
				<p class="titleSeccion titleActiveUno" data-rel="medicinaEspecialidad">Medicina de especialidad</p>
			</div>
		</div>
		<div id="portfolioAnimatedUno" v-for="especialidad in medicinaEspecialidad">
			<div class="tile allServiciosMedicosUno" v-bind:class="especialidad.clazz">{{especialidad.nombre}}</div>
		</div>
	</div>

	<div class="container" id="infoTratamiento" style="width: 100%;">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading" style="padding-top: 80px;">Tratamiento</h2>
			</div>
		</div>
		<div id="portfolioAnimatedDos" v-for="tratamiento in tratamientos">
			<div class="tile">{{tratamiento.nombre}}</div>
		</div>
	</div>

	<div class="container" id="infoAuxiliares" style="width: 100%;">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading" style="padding-top: 80px;">Servicios Auxiliares de Diagnóstico</h2>
				<p class="titleSeccion titleActiveTres" data-rel="allServiciosAuxiliares">Todo</p>
				<p class="titleSeccion titleActiveTres" data-rel="laboratorio">Laboratorio Clínico</p>
				<p class="titleSeccion titleActiveTres" data-rel="radiologia">Radiología e Imagen</p>
			</div>
		</div>
		<div id="portfolioAnimatedTres" v-for="tratamiento in auxiliares">
			<div class="tile allServiciosAuxiliares" v-bind:class="tratamiento.clazz">{{tratamiento.nombre}}</div>
		</div>
	</div>
</section>

<article id="especialistas" class="separador" data-parallax="scroll" data-image-src="img/separadores/especialistas.jpg">
	<h2>Especialistas</h2>
</article>
<!-- Especialistas Section -->
<section>
	<div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-muted">Médicos Especialistas</h2>
				<h3 class="section-subheading text-muted">Lista por Especialidad </h3>
				<table class="table table-striped">
					<tbody id="listaEspecialistas">
						<tr v-for="especialita in especialitas">
							<td style="text-align: left;  color: #1e497e;padding: 30px 10px; padding-left: 90px;">
								<p style="line-height: 1;"><strong>{{especialita.especialidad}}</strong></p>
								<p style="font-size: 18px; line-height: 1;">{{especialita.nombre | capitalize}}</p>
								<p style="font-size: 18px; line-height: 1;">CED: {{especialita.cedula}}</p>
							</td>
							<td style="text-align: center;padding: 30px 15px; width: 20%;">
								<p class="pDashed" style="font-size: 18px;">Consultorio: <strong class="text-muted">{{especialita.consultorio}}</strong></p>
							</td>
							<td style="text-align: center; width: 40%; padding: 30px 25px">
								<p style="font-size: 18px;line-height: 1;">Horario:</p>
								<p style="font-size: 18px;line-height: 1;">{{especialita.horario}}</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>

<article id="instalaciones" class="separador" data-parallax="scroll" data-image-src="img/separadores/instalaciones.jpg">
	<h2 style="color: white">Instalaciones</h2>
</article>

<!-- About Section -->
<section id="instalacionesSection" style="padding-top: 20px; padding-bottom: 30px">
	<div>
		<div class="row">
			<div class="col-lg-4" style="margin:0px;margin-left: -10px; height: 640px;">
				<ul class="list-group" id="listaInstalaciones">
					<li class="list-group-item" v-for="instalacion in instalaciones" v-on:click="getInstalacion(instalacion.imagen)">
						{{instalacion.nombre}}
						<span class="badge badge-pill">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</li>
				</ul>
			</div>

			<div class="col-lg-8" style="margin:0px; margin-left: -30px;">
				<img v-bind:src="srcImagen" style="height: 640px; width: 107%" id="imgInstalcion">
			</div>
		</div>
	</div>

</section>
<!-- COMBAK: nosotros -->
<article id="nosotros" class="separador" data-parallax="scroll" data-image-src="img/separadores/nosotros.jpg">
	<h2 style="color:white">Nosotros</h2>
</article>

<section>
	<div class="row nosotrosSection">
		<div class="col-lg-12" style="text-align: justify;">
			<h3 class="titleNosotros text-muted">Hospital Humanitas de Tlaxcala</h3>
			<p class="text-muted" style="font-size: 22px">
				Hospital Humanitas de Tlaxcala S.A. de C.V. es una empresa mexicana creada en el año de 2007, que provee servicios médicos especializados y auxiliares de diagnóstico y tratamiento a todo el Estado de Tlaxcala.
			</p><br>
			<p class="text-muted" style="font-size: 22px">
				Para el Hospital Humanitas de Tlaxcala S.A de C.V. tener pacientes altamente satisfechos y contribuir al logro de una mejor calidad de vida es lo más importante, lo cual significa comprometernos a atenderle con esmero y un excelente servicio durante su
				estancia en éste Hospital.</p>
			</div>
		</div>

		<div class="row bg-blue nosotrosSection" style="padding-top: 50px; padding-bottom: 50px">
			<div class="col-lg-12">
				<h3 class="titleNosotros">MISIÓN</h3>
				<p class="text-muted" style="text-align:justify; font-size: 22px">Proporcionar servicios de salud de especialidad con
					calidez y calidad que satisfagan las necesidades de
					nuestros pacientes en las especialidades médicas,
					quirúrgicas y de apoyo al diagnóstico y tratamiento
					obteniendo el reconocimiento de la población de
					Tlaxcala.</p><br>
					<p class="text-muted" style="text-align:justify; font-size: 22px">
						Somos un Hospital formador de recursos humanos de
						excelencia para la salud del estado y a nivel Nacional
						estamos permanentemente preocupados por
						nuestros recursos humanos capacitándolos y
						formando equipos como una necesidad de las
						actividades humanas.
					</p>
				</div>
			</div>

			<div class="row nosotrosSection" style="padding-top: 50px; padding-bottom: 50px">
				<div class="col-lg-12">
					<h3 class="titleNosotros text-muted">VISIÓN</h3>
					<p class="text-muted" style="text-align:justify; font-size: 22px">
						Ser un centro Hospitalario con reconocimiento en el
						Estado de Tlaxcala y de referencia Nacional,
						generador de modelos de atención en las
						especialidades médicas. Participante en la prestación
						de servicios subrogados al gobierno estatal como
						primera fuerza, incorporando tecnología de
						vanguardia de manera integral.
					</p><br>
					<p class="text-muted" style="text-align:justify; font-size: 22px">
						Contribuyendo a una vida plena, individual y colectiva
						de sus pacientes apoyando la formación de recursos
						humanos de alta calidad y de modelos de atención a la
						salud, que impacten en los indicadores básicos de
						salud estatal.
					</p>
				</div>
			</div>

			<div class="row bg-blue nosotrosSection" style="padding-top: 50px; padding-bottom: 50px">
				<div class="col-lg-12 ">
					<h3 class="titleNosotros">VALORES</h3>

					<h4 class="section-heading valor">Ética</h4>
					<p class="text-muted" style="font-size: 22px">
						Apego a los códigos, normas y principios del actuar del equipo de salud.
					</p>

					<h4 class="section-heading valor">Honestidad</h4>
					<p class="text-muted" style="font-size: 22px">
						Reconocimiento de nuestra actitud o vocación por el
						servicio ante los intereses personales o de grupo.
					</p>

					<h4 class="section-heading valor">Profesionalismo</h4>
					<p class="text-muted" style="font-size: 22px">
						Al aplicar los conocimientos adquiridos para
						apoyar los servicios que presta la Institución.
					</p>

					<h4 class="section-heading valor">Calidad</h4>
					<p class="text-muted" style="font-size: 22px">
						En la atención brindada a los pacientes, tanto en los
						servicios médicos como administrativos.
					</p>

					<h4 class="section-heading valor">Eficacia</h4>
					<p class="text-muted" style="font-size: 22px">
						Actuar adecuadamente para el logro de los objetivos
						institucionales y de salud.
					</p>
				</div>
			</div>

			<div class="row nosotrosSection" style="padding-top: 50px;">
				<div class="col-lg-12" style="text-align: justify;">
					<h3 class="titleNosotros" style="color: #1e497e">ANTECEDENTES</h3>
					<p class="text-muted" style="font-size: 22px">
						El Hospital Humanitas de Tlaxcala tiene sus orígenes a principios del año 2004 con la
						inquietud  de  sus  fundadores  de  brindar  un  servicio  médico  de  excelencia  y  de
						vanguardia a la población tlaxcalteca.
					</p><br>

					<p class="text-muted" style="font-size: 22px">
						La adaptación del inmueble comienza en el año 2005, concluyéndose en el año 2006.
						Hospital  Humanitas  de  Tlaxcala  abre  sus  puertas  el  10  de  marzo  del  año  2007,
						posicionándose  rápidamente  como  uno  de  los  más  completos  centros  de  atención
						médica  en  Tlaxcala  ya  que  cuenta  con  una  infraestructura  y  tecnología  de  punta
						encaminados a brindar un excelente servicio de salud.
					</p><br>

					<p class="text-muted" style="font-size: 22px">
						En  el  año  2012  El  departamento  de  Análisis  Clínicos  logra  su  certificación  bajo  el
						esquema  de  la  Norma  ISO  9001-2008  Sistemas  de  Gestión  de  Calidad. Requisitos.
						ratificando así el compromiso de la empresa con la sociedad, mejorando continuamente
						sus servicios.
					</p><br>
				</div>
			</div>
		</section>

		<article id="contact" class="separador" data-parallax="scroll" data-image-src="img/separadores/contacto.jpg">
			<h2>Contácto</h2>
		</article>

		<!-- Contact Section -->
		<section class="contacto">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="text-muted" style="font-size: 22px">
							Ponemos a tu dispoción nuestras vías de comunicación para atenderte las 24 horas, los 365 días del año.
						</p><br>
						<div class="col-lg-1" style="padding-top: 90px">
							<i class="fa fa-phone fa-2x" style="color: #1e497e; margin-top: 20px; margin-left:20px"></i>
							<i class="fa fa-map-marker fa-2x" style="color: #1e497e; margin-top: 65px; margin-left:20px"></i>
							<i class="fa fa-envelope fa-2x" style="color: #1e497e; margin-top: 60px; margin-left:20px"></i>

						</div>
						<div class="col-lg-4" style="padding-top: 90px">
							<p class="text-muted" style="line-height: 1; font-size: 22px">(01 246) 117 52 71</p>
							<p class="text-muted" style="line-height: 1; font-size: 22px">(01 246) 117 54 72</p>
							<p class="text-muted" style="line-height: 1; font-size: 22px">(01 246) 466 86 43 </p>

							<br>

							<p class="text-muted" style="line-height: 1; font-size: 22px">Blvd. Revolución N° 10</p>
							<p class="text-muted" style="line-height: 1; font-size: 22px">Col. Atempan, C.P. 90010 Tlaxcala.</p>

							<br><p class="text-muted" style="font-size: 20px">contacto@hospitalhumanitas.com.mx</p>
						</div>

						<div class="col-lg-7">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.91745995567!2d-98.22499138513176!3d19.329387648981804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfd92c9eeed4f7%3A0xc4bb183ec0868193!2sHospital+Humanitas!5e0!3m2!1ses-419!2smx!4v1512247184650" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="bg-blue">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<span class="copyright" style="font-size:15px">Copyright &copy; Hospital Humanitas 2017</span>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="https://www.facebook.com/hospitalhumanitasdetlaxcala/" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/hospitalhumanitastlaxcala/?hl=es" target="_blank"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="http://sieteveintisiete.com.mx/" style="color: white; font-size:15px" target="_blank">Dev by: SieteVeintisiete</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- jQuery -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- Plugin JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
		<!-- Contact Form JavaScript -->
		<script src="js/jqBootstrapValidation.js"></script>
		<script src="js/contact_me.js"></script>
		<!-- Theme JavaScript -->
		<script src="js/agency.min.js"></script>
		<!--Vue js-->
		<script src="https://unpkg.com/vue"></script>
		<script src="js/info.js"></script>
		<!--Generales-->
		<script src="js/servicios.js"></script>

		<script src="js/parallax.min.js"></script>
	</body>

	</html>
