<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>HUMANITAS - HOSPITAL</title>
	<!-- Bootstrap Core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<!-- Theme CSS -->
	<link href="css/agency.css" rel="stylesheet">
	<!-- CSS Personalizado -->
	<link rel="stylesheet" href="css/style.css">
	<!--Efectos-->
	<link rel="stylesheet" href="css/linkEffects.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
	<![endif]-->

</head>

<body id="page-top" class="index">
	<div class="telefono">
		<span>Línea directa</span>
		<i class="fa fa-phone fa-2x" aria-hidden="true"></i>
		<span>246 117 52 71</span>
	</div>
	<!-- Navigation -->
	<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
				</button>

				<a class="navbar-brand page-scroll" href="#page-top">
					<img src="./img/logoHumanitas.png" alt="" class="logoHeader">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="page-scroll" href="#page-top">Home</a>
					</li>
					<li class="cl-effect-1">
						<a class="page-scroll " href="#services">Conócenos</a>
					</li>
					<li>
						<a class="page-scroll cl-effect-2" href="#portfolio">Servicios</a>
					</li>
					<li>
						<a class="page-scroll cl-effect-3" href="#especialistas">Especialistas</a>
					</li>
					<li>
						<a class="page-scroll cl-effect-4" href="#about">Instalaciones</a>
					</li>
					<li>
						<a class="page-scroll cl-effect-5" href="#team">Nosotros</a>
					</li>
					<li>
						<a class="page-scroll cl-effect-6" href="#contact">Contácto</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!-- Header -->
	<header>
		<div class="container">
			<div class="intro-text">
				<div class="intro-heading">En nuestra área de urgencias tenemos la mejor atención para cualquier emergencia</div>
				<a href="#services" class="page-scroll btn btn-xl">CONOCENOS</a>
			</div>
		</div>
	</header>

	<!-- Services Section -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Conócenos</h2>
					<h3 class="section-subheading text-muted">Nuestra prioridad como equipo hospitalario es satisfacer las necesidades de salud con calidad, brindando un servicio excelente apoyados de la tecnología más moderna y de distintas especialidades médicas.</h3>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-folder-open fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Servicios</h4>
				</div>
				<div class="col-md-3">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-user-md fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Especialistas</h4>
				</div>
				<div class="col-md-3">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Instalaciones</h4>
				</div>
				<div class="col-md-3">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-group fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Nosotros</h4>
				</div>
			</div>
		</div>
	</section>

	<!-- Portfolio Grid Section -->
	<section id="portfolio" class="bg-light-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Servicios Médicos</h2>
					<h3 class="section-subheading text-muted">Medicina general, medicina de especialidad</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>
						<img src="https://placeimg.com/500/300/nature" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Pediatría</h4>
						<p class="text-muted">Descripción</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>
						<img src="https://placeimg.com/500/300/nature" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Ginecología</h4>
						<p class="text-muted">Descripción</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>
						<img src="https://placeimg.com/500/300/nature" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Medicina Interna</h4>
						<p class="text-muted">Descripción</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>
						<img src="https://placeimg.com/500/300/nature" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Nutrición</h4>
						<p class="text-muted">Descripción</p>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- Especialistas Section -->
	<section id="especialistas">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Especialistas</h2>
					<h3 class="section-subheading text-muted">Lista por especialidad.</h3>
					<table class="table table-striped table-bordered">

						<tbody id="listaEspecialistas">
							<tr v-for="especialita in especialitas">
								<td>
									<p><strong>{{especialita.especialidad}}</strong></p>
									<p>{{especialita.nombre}}</p>
								</td>
								<td>
									<p>Consultorio: <strong>{{especialita.consultorio}}</strong></p>
								</td>
								<td>
									<i class="fa fa-phone" aria-hidden="true"></i> {{especialita.telefono}}
								</td>
								<td>
									<a href="!#" class="btn btn-primary">Más información</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>


	<!-- About Section -->
	<section id="about" class="bg-light-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Instalaciones</h2>
					<h3 class="section-subheading text-muted">Desde nuestra inauguración en el año 2007, en el hospital Humanitas de Tlaxcala nos hemos preocupado
					por brindar a la sociedad tlaxcalteca un servicio de atención médica excelente y completo, a través de una infraestructura tecnológica de primer nivel.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<ul class="list-group" id="listaInstalaciones">
						<li class="list-group-item" v-for="instalacion in instalaciones">
							{{ instalacion.nombre }}
							<span class="badge">
					  		<i class="fa fa-angle-right" aria-hidden="true"></i>
					  	</span>
						</li>
					</ul>
				</div>
				<div class="col-lg-8">
					<img src="https://placeimg.com/500/300/tech" alt="" style="width: 100%">
				</div>

			</div>
		</div>
	</section>

	<!-- Team Section -->
	<section id="team">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Nosotros</h2>
				</div>
			</div>

			<div class="row nosotrosSection">
				<h3 class="section-heading">Hospital Humanitas de Tlaxcala</h3>
				<div class="col-lg-12" style="text-align: justify;">
					<p class="large text-muted">Hospital Humanitas de Tlaxcala S.A. de C.V. es una empresa mexicana creada en el año de 2007, que provee servicios médicos especializados y auxiliares de diagnóstico y tratamiento a todo el Estado de Tlaxcala.</p>
					<p class="large text-muted">Para el Hospital Humanitas de Tlaxcala S.A de C.V. tener pacientes altamente satisfechos y contribuir al logro de una mejor calidad de vida es lo más importante, lo cual significa comprometernos a atenderle con esmero y un excelente servicio durante
						su estancia en éste Hospital.</p>
				</div>

			</div>
			<div class="row  bg-blue nosotrosSection">
				<div class="col-lg-12">
					<h3 class="section-heading">Misión</h3>
					<p class="large text-muted">Proporcionar servicios de salud que satisfagan las necesidades de los pacientes mediante una cultura de corresponsabilidad integral de los empleados del Hospital Humanitas de Tlaxcala.</p>
				</div>
			</div>
			<div class="row nosotrosSection">
				<div class="col-lg-12">
					<h3 class="section-heading">Visión</h3>
					<p class="large text-muted">Ser una empresa de servicios integrales de salud reconocida nacionalmente, que incursione en nuevos mercados e incorpore la tecnología de vanguardia al modelo de atención a la salud para contribuir a una vida plena, individual y colectiva de sus
						clientes y pacientes.</p>
				</div>
			</div>
			<div class="row bg-blue nosotrosSection">
				<div class="col-lg-12 ">
					<h3 class="section-heading">Valores</h3>

					<h4 class="section-heading">Respeto</h4>
					<p class="large text-muted">Respetar sin excepción alguna, la dignidad de la persona humana y los derechos y libertades que le son inherentes, siempre con trato amable y tolerancia a todos.</p>

					<h4 class="section-heading">Responsabilidad</h4>
					<p class="large text-muted">Cumplir con los compromisos y tareas asignadas con oportunidad, en congruencia con los objetivos de la organización.</p>

					<h4 class="section-heading">Generosidad</h4>
					<p class="large text-muted">Actuar con generosidad especial, sensibilidad, particularmente frente a la población infantil, de la tercera edad y las personas con discapacidad y en especial con todas aquellas personas que menos tienen.</p>

					<h4 class="section-heading">Liderazgo</h4>
					<p class="large text-muted">Promover y apoyar los compromisos anteriores con el ejemplo personal, abonando a los principios morales que son base y sustento de una sociedad exitosa en una patria ordenada y generosa.
					</p>
				</div>

			</div>
		</div>
	</section>

	<!-- Contact Section -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Contacto</h2>
					<h3 class="section-subheading text-muted">Ponemos a tu dispoción nuestras vías de comunicación para atenderte las 24 horas, los 365 días del año.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">

				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<span class="copyright">Copyright &copy; Hospital Humanitas 2017</span>
				</div>
				<div class="col-md-4">
					<ul class="list-inline social-buttons">
						<li><a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-inline quicklinks">
						<li><a href="#">Dev by: Siete Veintisete</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- Portfolio Modals -->
	<!-- Use the modals below to showcase details about your portfolio projects! -->
	<!-- Portfolio Modal 1 -->
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2>Pediatría</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-responsive img-centered" src="https://placeimg.com/500/300/people" alt="" />
								<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Modal 2 -->
	<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>Ginecología</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-responsive img-centered" src="https://placeimg.com/500/300/people" alt="">
								<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Modal 3 -->
	<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2>Medicina Interna</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-responsive img-centered" src="https://placeimg.com/500/300/people" alt="">
								<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Modal 4 -->
	<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2>Nutrición</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-responsive img-centered" src="https://placeimg.com/500/300/people" alt="">
								<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
	<!-- Contact Form JavaScript -->
	<script src="js/jqBootstrapValidation.js"></script>
	<script src="js/contact_me.js"></script>
	<!-- Theme JavaScript -->
	<script src="js/agency.min.js"></script>
	<!--Vue js-->
	<script src="https://unpkg.com/vue"></script>
	<script src="js/info.js"></script>
</body>

</html>
